# Dataframe Manipulation Warmup

In [2]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

In [4]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   favorite_animal      5000 non-null   object
 1   favorite_vegetable   5000 non-null   object
 2   favorite_fruit       5000 non-null   object
 3   wears_glasses        5000 non-null   object
 4   netflix_consumption  5000 non-null   float64
 5   open_browser_tabs    5000 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 234.5+ KB

1. What is the highest amount of netflix consumption? `17.535`
2. How many people wear glasses? What percentage of people is this? `2555`, `.511`
3. How many people's favorite animal is a dog? `1002`
4. What is the most common favorite animal? `lemur`
5. What is the average netflix consumption for people that prefer brussel sprouts? `10.008`
6. What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [6]:
# Question 1 
df.netflix_consumption.max()

17.534818515438925

In [11]:
# Question 2 
df.wears_glasses.value_counts()

yes    2555
no     2445
Name: wears_glasses, dtype: int64

In [13]:
df.wears_glasses.value_counts(normalize=True)

yes    0.511
no     0.489
Name: wears_glasses, dtype: float64

In [21]:
# Question 3 
len(df[df['favorite_animal'] == 'dog'])

1002

In [22]:
# Question 4 
df.favorite_animal.mode()

0    lemur
dtype: object

In [24]:
# Question 5
df[df['favorite_vegetable'] == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

In [31]:
# Question 6
df[(df['wears_glasses'] == 'yes') & (df['open_browser_tabs'] > 40)].favorite_fruit.value_counts().idxmax()

'blueberries'